{% extends 'base.html' %}
{% block content %}
{% load static %}

<main>
    <div class="container-fluid my-5 py-5">
        <div class="row text-center align-items-center justify-content-center">
            <div class="col-7">
                <p class="display-2 fw-bold fst-italic mb-5">
                    CONÓCENOS
                </p>
                <p class="fs-5 fw-medium mx-4">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem, ducimus enim! Veniam assumenda quis a, odit culpa voluptas ab earum optio distinctio, voluptatem sapiente tempore ipsam ratione autem est, velit minima non! Nisi quisquam qui aliquam corporis provident rem enim, animi reiciendis accusamus vero magnam illum autem similique inventore debitis error itaque nam ab explicabo iste nostrum cum temporibus expedita! Sapiente, quibusdam. Incidunt tempore quam cumque recusandae minus numquam voluptates quis fuga soluta reprehenderit, cupiditate autem ea nemo iusto nobis itaque ut velit odit provident. Minima illo vel odio dolore numquam earum vero temporibus facere? Distinctio magnam similique dicta temporibus.
                </p>
            </div>
            <div class="col-md-auto">
                <img src="{% static 'images/logoprincipal.png' %}" alt="" width="580" height="580">
            </div>
        </div>
        <div class="container-fluid my-5 py-5">
            <div class="row text-center align-items-center justify-content-center">
                <div class="col p-5 mx-5">
                    <i class="fa-solid fa-eye fa-5x mb-2"></i>
                    <p class="display-4 fw-bold fst-italic mb-5">
                        Visión
                    </p>
                    <p class="fs-5 fw-medium">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur soluta itaque tempora numquam debitis ab dignissimos nam. Corporis quo nam nihil illo minus dolores autem, ex laborum dolore, doloribus totam enim, voluptatum commodi! Repudiandae nulla impedit fuga aperiam commodi nobis.
                    </p>
                </div>
                <div class="col p-5 mx-5">
                    <i class="fa-solid fa-globe fa-5x mb-2"></i>
                    <p class="display-4 fw-bold fst-italic mb-5">
                        Misión
                    </p>
                    <p class="fs-5 fw-medium">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur soluta itaque tempora numquam debitis ab dignissimos nam. Corporis quo nam nihil illo minus dolores autem, ex laborum dolore, doloribus totam enim, voluptatum commodi! Repudiandae nulla impedit fuga aperiam commodi nobis.
                    </p>
                </div>

            </div>
        </div>
        <div class="container-fluid my-3">
            <div class="row text-center align-items-center justify-content-center">
                <i class="fa-solid fa-heart fa-5x mb-3"></i>
                <p class="display-2 fw-bold fst-italic mb-5">
                    Nuestros Valores
                </p>
            </div>
            <div class="row text-center align-items-center justify-content-center">
                <div class="col p-5 mx-5">
                    <p class="display-4 fw-bold fst-italic mb-5">
                        Aprendizaje
                    </p>
                    <p class="fs-5 fw-medium">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur soluta itaque tempora numquam debitis ab dignissimos nam. Corporis quo nam nihil illo minus dolores autem, ex laborum dolore, doloribus totam enim, voluptatum commodi! Repudiandae nulla impedit fuga aperiam commodi nobis.
                    </p>
                </div>
                <div class="col p-5 mx-5">
                    <p class="display-4 fw-bold fst-italic mb-5">
                        Respeto
                    </p>
                    <p class="fs-5 fw-medium">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur soluta itaque tempora numquam debitis ab dignissimos nam. Corporis quo nam nihil illo minus dolores autem, ex laborum dolore, doloribus totam enim, voluptatum commodi! Repudiandae nulla impedit fuga aperiam commodi nobis.
                    </p>
                </div>
            </div>
            <div class="row text-center align-items-center justify-content-center"> 
                <div class="col p-5 mx-5">
                    <p class="display-4 fw-bold fst-italic mb-5">
                        Mejora Continua
                    </p>
                    <p class="fs-5 fw-medium">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur soluta itaque tempora numquam debitis ab dignissimos nam. Corporis quo nam nihil illo minus dolores autem, ex laborum dolore, doloribus totam enim, voluptatum commodi! Repudiandae nulla impedit fuga aperiam commodi nobis.
                    </p>
                </div>
                <div class="col p-5 mx-5">
                    <p class="display-4 fw-bold fst-italic mb-5">
                        Empatía
                    </p>
                    <p class="fs-5 fw-medium">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur soluta itaque tempora numquam debitis ab dignissimos nam. Corporis quo nam nihil illo minus dolores autem, ex laborum dolore, doloribus totam enim, voluptatum commodi! Repudiandae nulla impedit fuga aperiam commodi nobis.
                    </p>
                </div>

            </div>
            <div class="row text-center align-items-center justify-content-center"> 
                <div class="col p-5 mx-5">
                    <p class="display-4 fw-bold fst-italic mb-5">
                       Responsabilidad
                    </p>
                    <p class="fs-5 fw-medium">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur soluta itaque tempora numquam debitis ab dignissimos nam. Corporis quo nam nihil illo minus dolores autem, ex laborum dolore, doloribus totam enim, voluptatum commodi! Repudiandae nulla impedit fuga aperiam commodi nobis.
                    </p>
                </div>
                <div class="col p-5 mx-5">
                    <p class="display-4 fw-bold fst-italic mb-5">
                        Ética
                    </p>
                    <p class="fs-5 fw-medium">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur soluta itaque tempora numquam debitis ab dignissimos nam. Corporis quo nam nihil illo minus dolores autem, ex laborum dolore, doloribus totam enim, voluptatum commodi! Repudiandae nulla impedit fuga aperiam commodi nobis.
                    </p>
                </div>

            </div>
        </div>
    </div>
</main>

{% endblock %}